.archive-card-header
  border-top: 0.5px solid var(--divider-color)
  height: 0.5px
  margin-top: 1px
  margin-bottom: 1px
  &::after
    background-color: var(--widget-background-color)
    transition: background-color 0.3s
    color: var(--text-light-color)
    content: attr(data-content)
    font-size: $sm-font-size
    display: inline-block
    position: relative
    top: -12px
    padding-right: 8px
.archive-card-list
  margin-top: 22px
  .archive-card-list-item
    display: block
    color: var(--text-color)
    font-size: $ml-font-size
    padding: 6px 8px
    &:hover
      cursor: pointer
      border-radius: 0.3rem
      background-color: var(--badge-background-color)
      transition: background-color 0.3s
      transition-duration: 0.3s
      transition-timing-function: ease-in-out
      .archive-card-list-item-badge
        background-color: var(--badge-hover-background-color)
        transition: background-color 0.3s
    + .archive-card-list-item
      margin-top: 3px
    .archive-card-list-item-badge
      float: right
      margin-right: 10px
      font-size: $sm-font-size
      background-color: var(--badge-background-color)
      transition: background-color 0.3s
      padding: 3px 7px
      text-align: center
      border-radius: 0.3rem