.card-author
  margin-bottom: 1.5rem
  display: flex
  flex-direction: column
  align-items: center
  .author-img
    width: 5.5rem
    height: 5.5rem
  .author-name
    margin-top: 0.7rem
    font-size: $ex-font-size
  .author-description
    margin-top: 0.5rem
    font-size: $md-font-size
  .author-message
    margin-top: 0.5rem
    width: 100%
    display: flex
    justify-content: space-around
    flex-direction: row
    > p
      display: flex
      flex-direction: column
      align-items: center
      > span
        font-size: $lg-font-size
        + span
          font-size: $sm-font-size
