.card
  border-radius: 4px
  background-color: var(--widget-background-color)
  max-width: 100%
  box-shadow: var(--around-shadow-style)
  transition: background-color 0.3s
.image-wrapper+.card // if post has banner, border-top-radius will be 0
  border-radius: 0 4px
.card +.card, .card +.archive-timeline
  margin-top: 1.5rem
// content style
.card-content, .card-author
  background-color: var(--widget-background-color)
  transition: background-color 0.3s
  padding: 1.5rem
.post-title, .card-excerpt
  margin-bottom: 0.85rem
.post-title
  font-size: 1.5rem
  font-weight: 400
  color: var(--title-color)
  line-height: 1.125
  &:hover
    color: $link-hover-color
.card-post-footer
  display: flex
  justify-content: space-between
  padding: 0
  a:hover
    color: var(--link-hover-color)
.post-meta, .post-meta-link
  color: var(--text-light-color)
  display: flex
.dot
  margin: 0 0.309rem
  &::after
    content: '·'
@media (max-width: 862px)
  .card +.card
    margin-top: 0.8rem
