.card
  border-radius: 4px
  background-color: $widget-background-color
  max-width: 100%
  box-shadow: $shadow-style
.card +.card, .spacer +.spacer
  margin-top: 1.5rem
// content style
.card-content, .card-author
  background-color: $widget-background-color
  padding: 1.5rem
.post-title, .card-excerpt
  margin-bottom: 1rem
.post-title
  font-size: 1.5rem
  font-weight: 400
  color: $title-color
  line-height: 1.125
