.categories-card
  width: 100%
.categories-header
  margin-bottom: 6px
  font-size: $base-font-size
  .iconfont
    font-size: $base-font-size
.categories-list
  .categories-list-item
    color: var(--text-color)
    padding: 6px 8px
    font-size: $ml-font-size
    transition: all 0.4s
    &:hover
      padding: 6px 12px
      cursor: pointer
      border-radius: 0.3rem
      background-color: var(--badge-background-color)
      transition: all 0.4s
      transition-duration: 0.4s
      transition-timing-function: ease-in-out
      .categories-list-item-badge
        background-color: var(--badge-hover-background-color)
        transition: all 0.4s
    + .categories-list-item
      margin-top: 3px
    .categories-list-item-badge
      float: right
      margin-right: 10px
      font-size: $sm-font-size
      background-color: var(--badge-background-color)
      transition: all 0.4s
      padding: 3px 7px
      text-align: center
      border-radius: 0.3rem

@media (max-width: 862px)
  .categories-widget
    display: $widgets-mobile
