.container, .footer-container, .navbar-container
  flex-grow: 1
  width: auto
  margin: 0 auto
@media screen and (min-width: 1088px)
  .container, .footer-container, .navbar-container
    max-width: 992px
@media screen and (min-width: 1280px)
  .container, .footer-container, .navbar-container
    max-width: 1184px
