.container
  -webkit-box-flex: 1
  flex-grow: 1
  width: auto
  margin: 0 auto
@media screen and (min-width: 1088px)
  .container
    max-width: 992px
@media screen and (min-width: 1280px)
  .container
    max-width: 1184px
