.container, .footer-container, .navbar-container
  flex-grow: 1
  width: 100%
  margin: 0 auto
@media screen and (min-width: 1088px)
  .footer-container
    max-width: 992px
@media screen and (min-width: 1280px)
  .footer-container
    max-width: 1184px
