// default footer
.footer
  font-size: $sm-font-size
  background-color: $background-color
  width: 100%
  box-shadow: $shadow-style
  position: absolute
  padding-top: 16px
  padding-bottom: 16px
  bottom: 0
  .footer-container
    color: $info-text-color
    display: flex
    justify-content: center
    .copyright
      margin-right: 80px
    a
      color: $link-color
      &:hover
        color: $link-hover-color
// mobiles footer
@media (max-width : 902px)
  .footer
    .footer-container
      display: block
      .copyright
        margin-right: 0
        display: flex
        justify-content: center
        margin-bottom: 6px;
      .footer-dsc
        display flex
        justify-content: center
