// default footer
.footer
  font-size: $sm-font-size
  background-color: var(--widget-background-color)
  transition: background-color 0.3s
  width: 100%
  box-shadow: var(--around-shadow-style)
  padding: 1.5rem 1rem 1.5rem
  bottom: 0
.footer-container
  color: var(--info-text-color)
  display: block
  justify-content: space-between
  a
    color: var(--text-strong-color)
    &:hover
      color: var(--link-hover-color)
.footer-dsc
  margin-bottom: 6px
  display: flex
  justify-content: center
  align-items: center
.BbeiAn-info
  display: flex
  justify-content: center