.friend-title
  font-size: $lg-font-size
  font-weight: bold
.friend-card
  overflow: hidden
  .friend-item
    width: (1 / 3) * 100%
    padding: 6px 12px
    float: left
    margin: 8px 0
    .friend-item-card
      display: block
      width: 100%
      height: 100%
      .friend-item-content
        display: flex
        align-items: center
        .friend-text
          display: flex
          flex-direction: column
          .friend-name
            color: $text-strong-color
            font-size: $ml-font-size
          .friend-dsc
            color: $info-text-color
            font-size: $sm-font-size
        .friend-avatar
          height: 44px
          width: 44px
          margin-right: 14px
    &:hover
      border-radius: 0.3rem
      background-color: $badge-background-color
      transition-duration: 0.2s
      transition-timing-function: ease-in-out

@media (max-width : 968px)
  .friend-card
    .friend-item
      width: (1 / 2) * 100%

@media (max-width : 742px)
  .friend-card
    .friend-item
      width: 100%

