// default navbar
.navbar
  background-color: var(--widget-background-color)
  min-height: 45px
  box-shadow: $shadow-style
  .navbar-logo
    display: inline-block
    margin-left: 96px
    .navbar-logo-main
      display: flex
      align-items: center
      justify-content: space-around
      line-height: 45px
      .navbar-logo-dsc
        font-weight: normal
        font-size: $lg-font-size
      .navbar-logo-img
        height: 34px
        margin-right: 10px
  .navbar-menu
    font-weight: lighter
    font-size: $md-font-size
    line-height: 45px
    margin-right: 320px
    float: right
    a
      display: inline-block
      color: var(--text-color)
      cursor: pointer
      margin: 0 8px
      &:hover
        color: var(--link-hover-color)
// mobiles navbar
@media (max-width: 1088px)
  .navbar
    min-height: 90px
    .navbar-logo
      margin-left: 0
      display: block
      .navbar-logo-main
        justify-content: center
    .navbar-menu
      width: 100%
      display: flex
      margin-right: 0
      justify-content: center
