.nav
  display: flex
  flex-direction: row
  margin-top: 1.5rem
.nav-item-prev, .nav-item-next
  display: flex
  flex: 50%
.nav-next-icon
  margin-left: 0.7rem
.nav-prev-icon
  margin-right: 0.7rem
.nav-item-prev
  justify-content: flex-start
  text-align: left
.nav-item-next
  justify-content: flex-end
  text-align: right
.nav-link
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 0.5rem
.nav-prev-icon, .nav-next-icon
  color: var(--text-light-color)
  width: 0.65rem
.nav-label
  font-size: 0.9rem
  font-weight: 500
  line-height: 1.6rem
  color: var(--text-light-color)
.nav-title
  font-size: 1rem
  font-weight: 500
  line-height: 1.2rem
  color: var(--text-color)