.image-wrapper
  overflow: hidden
  display: block
  width: 100%
  height: 0
  position: relative
  .image
    object-fit: cover
    width: 100%
    filter: var(--image-filter-style)
    position: absolute
    transition: filter 0.4s ease 0s
    &:not(.loaded)
      filter: blur(5px)
.post-image
  filter: var(--image-filter-style)
  transition: filter 0.4s ease 0s
  &:not(.loaded)
    filter: blur(5px)
@media screen and (min-width: 768px)
  .image-wrapper
    padding-bottom: 300px
    .image
      height: 300px
  .post-image
    height: 300px
@media screen and (max-width: 767px)
  .image-wrapper
    height: 16.48rem
    .image
      height: 16.48rem
  .post-image
    height: 300px