.post-show-meta
  margin-bottom: 1rem
.post-content
  dl, ol, ul, blockquote, h6, figure, pre, p, table
    + *
      margin-top: 1em
  p
    line-height: 1.8rem
  blockquote
    margin-top: 1rem
    padding: 1rem
    background-color: var(--blockquote-color)
    transition: background-color 0.3s
    border-left: 0.25rem solid var(--border-color)
    p
      margin-bottom: 0
  ul
    list-style: disc
    margin-left: 1.2em
  ol
    list-style-position: outside
    margin-left: 1.2em
    margin-top: 0
  ol:not([type])
    list-style-type: decimal
  h1, h2
    padding-bottom: 0.35rem
    border-bottom: 1px solid var(--border-color)
.katex-block
  overflow-x: auto
mjx-container
  overflow-x: auto
  overflow-y: hidden
  &:focus, svg:focus
    outline: none
/* post tags */
.post-note
  margin-top: 1rem
  margin-bottom: 1rem
  padding: 1rem
  border-radius: 0.2rem
  border-left-width: 0.25rem
  border-left-style: solid
  p
    margin-bottom: 0
.copyright
  a
    color: var(--text-color)
    font-weight: bold
  p
    + p
      margin-top: 8px
.note-default
  background-color: var(--blockquote-color)
  border-left-color: var(--border-color)
  transition: background-color 0.3s
.note-primary
  border-left-color: var(--note-primary-border-color)
  background-color: var(--note-primary-color)
  transition: background-color 0.3s
.note-success
  border-left-color: var(--note-success-border-color)
  background-color: var(--note-success-color)
  transition: background-color 0.3s
.note-info
  border-left-color: var(--note-info-border-color)
  background-color: var(--note-info-color)
  transition: background-color 0.3s
.note-warning
  border-left-color: var(--note-warning-border-color)
  background-color: var(--note-warning-color)
  transition: background-color 0.3s
.note-danger
  border-left-color: var(--note-danger-border-color)
  background-color: var(--note-danger-color)
  transition: background-color 0.3s
