.post-show-meta
  margin-bottom: 1rem
.post-content
  p
    margin-bottom: 1rem
  blockquote
    padding: 1rem
    background-color: #f9f8f7
    border-left: 0.25rem solid $border-color
  ul
    list-style: disc
    margin-left: 1.2rem
  h2
    padding-bottom: 0.35rem
    border-bottom: 1px solid $border-color