.recent-posts-header
  margin-bottom: 16px
  font-size: $base-font-size
  .iconfont
    font-size: $base-font-size
.recent-posts-item
  padding-left: 6px
  &:last-child .divider
    display: none
  + .recent-posts-item
    margin-top: 10px  
.recent-posts-item-title
  font-size: $sm-font-size
.recent-posts-item-content
  color: var(--text-color)
  margin-top: 6px
  font-size: $md-font-size
  padding: 6px 0
  padding-left: 8px
  transition: background-color .4s ease-in-out
  border-radius: $border-radius
  &:hover
    // padding-left: 16px
    cursor: pointer
    background-color: var(--badge-background-color)
    