#scrollbutton
  cursor: pointer
  position: fixed
  background-color: var(--widget-background-color)
  transition: background-color 0.3s
  bottom: 38px
  right: 38px
  width: 44px
  height: 44px
  border-radius: 50%
  box-shadow: var(--around-shadow-style)
  display: flex
  justify-content: center
  align-items: center
  .scrollbutton-icon
    font-size: $sm-font-size
