#scrollbutton
  cursor: pointer
  position: fixed
  background-color: $widget-background-color
  bottom: 38px
  right: 38px
  width: 44px
  height: 44px
  border-radius: 50%
  box-shadow: $around-shadow-style
  display: flex
  justify-content: center
  align-items: center
  .scrollbutton-icon
    font-size: $sm-font-size
