.tags-header
  border-top: 0.5px solid var(--divider-color)
  height: 0.5px
  margin-top: 1px
  margin-bottom: 1px
  &::after
    background-color: var(--widget-background-color)
    transition: background-color 0.3s
    color: var(--text-light-color)
    content: attr(data-content)
    font-size: $sm-font-size
    display: inline-block
    position: relative
    top: -12px
    padding-right: 8px
.tags-list
  margin-top: 22px
  overflow: hidden
  .tags-list-item
    color: var(--text-color)
    float: left
    margin: 0 7px 8px 7px 
    font-size: $md-font-size
    background-color: var(--badge-background-color)
    transition: background-color 0.3s
    padding: 3px 7px
    text-align: center
    border-radius: 0.3rem
    &:hover
      cursor: pointer
      background-color: var(--badge-hover-background-color)
      transition: background-color 0.3s
.tag-page-card
  margin-bottom: 24px