.categories-card
  width: 100%
.tags-header
  margin-bottom: 16px
  font-size: $base-font-size
  .iconfont
    font-size: $base-font-size
.tags-list
  overflow: hidden
  .tags-list-item
    height: 28px
    display: flex
    flex-direction: row
    align-items: center
    color: var(--text-color)
    float: left
    margin: 0 7px 8px 7px 
    font-size: $md-font-size
    background-color: var(--badge-background-color)
    transition: background-color 0.3s
    padding: 3px 7px
    text-align: center
    border-radius: 0.3rem
    &:hover
      cursor: pointer
      background-color: var(--badge-hover-background-color)
      transition: background-color 0.3s
.tag-page-card
  margin-bottom: 24px

@media (max-width: 862px)
  .tags-widget
    display: $widgets-mobile
