.toc-card
  .toc-header
    border-top: 0.5px solid var(--divider-color)
    height: 0.5px
    margin-top: 1px
    &::after
      background-color: var(--widget-background-color)
      color: var(--text-light-color)
      content: attr(data-content)
      font-size: $sm-font-size
      display: inline-block
      position: relative
      top: -12px
      padding-right: 8px
  .toc
    overflow: auto
    max-height: calc(100vh - 30rem)
    padding: 0 1rem
    margin-top: 0.3rem
    ol, li
      list-style-type: none
    a
      color: var(--text-color)
    .toc-child
      margin-left: 5px
      position: relative
      &::before
        content: ''
        position: absolute
        top: 0
        width: 1px
        background-color: var(--badge-background-color)
        height: 100%
      > li
        margin-left: 0.7rem
    .toc-item
      margin-top: 0.6rem