<div class="archive-timeline">
  <% let archiveYear = ''; %>
  <% page.posts.sort('date', -1).forEach(post => { %>
    <% if (date(post.date,'YYYY') != archiveYear) { %>
      <div class="archive-timeline-tag"><span><%= date(post.date,'YYYY') %></span></div>
      <% archiveYear = date(post.date,'YYYY'); %>
    <% } %>
    <div class="archive-timeline-item">
      <div class="archive-timeline-post">
        <div class="card card-content">
          <div class="archive-timeline-post-date"><%= date(post.date,'YYYY-MM-DD') %></div>
          <div class="archive-timeline-post-content"><%= post.title %></div>
        </div>
      </div>
    </div>
  <% }); %>
</div>