<footer class="footer">
  <div class="footer-container">
    <div class="copyright">
      <div>
        <span id="copy_year">Copyright ©
          <% if(theme.footer.copy_year) { %>
          <%- theme.footer.copy_year %> -
          <% } %>
          <%- date(Date.now(), 'YYYY') %>
        </span>
        <a href="/" class="footer-link"><%- theme.title %> </a>
      </div>
    </div>

    <% if(theme.footer.showPoweredBy || theme.footer.showDesignedBy) { %>
    <div class="footer-dsc">
      <%# showPoweredBy %>
      <div class="powerer">
        <% if(theme.footer.showPoweredBy) { %>
        Powered by
        <a href="https://hexo.io/" class="footer-link" target="_blank">Hexo </a>
        <% } %>
      </div>
      <% if(theme.footer.showPoweredBy && theme.footer.showDesignedBy) { %>
      <span>&nbsp;|&nbsp;</span>
      <% } %>
      <%# showDesignedBy %>
      <% if(theme.footer.showDesignedBy) { %>
      <div class="designer">
        Designed By
        <a href="https://github.com/theme-kaze" class="footer-link" target="_blank">theme-kaze</a>
        <% } %>
      </div>
    </div>
    <% } %>
</footer>