<div class="section">
    <div class="container">
        <div class="columns">
            <main class="main-column"><%- partial('page.ejs') %></main>
            <aside class="left-column"></aside>
            <aside class="right-column"></aside>
        </div>
    </div>
</div>