<div class="sticky-tablet spacer">
  <%# categories card %>
  <div class="card card-content">
    <%- partial('_partial/categories') %>
  </div>
  <%# tags card %>
  <div class="card card-content">
    <%- partial('_partial/tags') %>
  </div>
  <%# display when two columns %>
  <div class="display-when-two-columns spacer">
    <div class="card card-content">
      <%- partial('_partial/archives') %>
    </div>
  </div>

</div>