<div class="sticky-tablet spacer">
  <%# categories card %>
  <div class="card spacer card-content">
    <%- partial('_partial/categories') %>
  </div>
  <%# tags card %>
  <div class="card spacer card-content">
    <%- partial('_partial/tags') %>
  </div>
</div>