<nav class="navbar">
  <div class="navbar-logo">
    <span class="navbar-logo-main">
      <img class="navbar-logo-img" src="<%- theme.logo_img %>" />
      <span class="navbar-logo-dsc"><%- theme.title || config.title %></span>
    </span>
  </div>
  <div class="navbar-menu">
    <% for(const menu in theme.menus) { %>
    <a href="<%= theme.menus[menu] %>" class="navbar-menu-item"><%= menu %> </a>
    <% } %>
  </div>
</nav>