<nav class="navbar">
    <ul class="menu">
        <% for(const menu in theme.menus) { %>
        <a href="<%= theme.menus[menu] %>" class="menu"><%= menu %> </a>
        <% } %>
    </ul>
</nav>