<div class="sticky-widescreen spacer">
    <%# recent post %>
    <div class="card spacer card-content">
        <%- partial('_partial/recent-post') %>
    </div>

    <%# archives card %>
    <div class="card spacer card-content">
        <%- partial('_partial/archives') %>
    </div>

</div>