// color variables
$text-color = theme-config('color.text-color', '#3c4858')
$text-strong-color = theme-config('color.text-strong-color', '#2f3d4e')
$text-light-color = theme-config('color.text-light-color', '#60656a')
$text-white-color = theme-config('color.text-white-color', '#fff')
$divider-color = theme-config('color.divider-color', '#e6e8ee')
$title-color = theme-config('color.title-color', '#475b6d')
$link-color = theme-config('color.link-color', '#3273dc')
$link-hover-color = theme-config('color.link-hover-color', '#6596e5')
$post-link-color = theme-config('color.post-link-color', '#d71a1b')
$info-text-color = theme-config('color.info-text-color', '#60656a')
$widget-background-color = theme-config('color.widget-background-color', '#fff')
$body-background-color = theme-config('color.body-background-color', '#f2f5f8')
$badge-background-color = theme-config('color.badge-background-color', '#edeff3')
$badge-hover-background-color = theme-config('color.badge-background-color', '#adb7d0')
$border-color = theme-config('color.border-color', '#e1e4e9')
$pre-color = theme-config('color.pre-color', '#2d2d2d')
$tbody-background-color = theme-config('color.tbody-background-color', '#f4f5f7')
$code-color = theme-config('color.code-color', '#50687c')
$code-background-color = theme-config('color.code-background-color', '#e9eaf0')
$blockquote-color = theme-config('color.blockquote-color', '#f9f8f7')
/* tags color */
$blue-tag-color = theme-config('color.blue-tag-color', '#3273dc')
/* note color */
$note-primary-border-color = theme-config('color.note-primary-border-color', '#428bca')
$note-primary-color = theme-config('color.note-primary-color', '#daf3fc')
$note-success-border-color = theme-config('color.note-success-border-color', '#5cb85c')
$note-success-color = theme-config('color.note-success-color', '#ebfbe2')
$note-info-border-color = theme-config('color.note-info-border-color', '#5bc0de')
$note-info-color = theme-config('color.note-info-color', '#dffdfb')
$note-warning-border-color = theme-config('color.note-warning-border-color', '#f0ad30')
$note-warning-color = theme-config('color.note-warning-color', '#fef5d5')
$note-danger-border-color = theme-config('color.note-danger-border-color', '#d9534f')
$note-danger-color = theme-config('color.note-danger-color', '#fde8dc')
/* code highlight color */
$highlight-comment-color = theme-config('color.highlight-comment-color', '#999')
$highlight-tag-color = theme-config('color.highlight-tag-color', '#e2777a')
$highlight-attr-color = theme-config('color.highlight-attr-color', '#6196cc')
$highlight-literal-color = theme-config('color.highlight-literal-color', '#f08d49')
$highlight-keyword-color = theme-config('color.highlight-keyword-color', '#cc99cd')
$highlight-string-color = theme-config('color.highlight-string-color', '#7ec699')
$highlight-builtin-color = theme-config('color.highlight-builtin-color', '#67cdcc')
// dark mode color
$dark-text-color = theme-config('color.dark-text-color', '#c4c6c9')
$dark-text-strong-color = theme-config('color.dark-text-strong-color', '#fff')
$dark-text-light-color = theme-config('color.dark-text-light-color', '#909faf')
$dark-text-white-color = theme-config('color.dark-text-white-color', '#fff')
$dark-divider-color = theme-config('color.dark-divider-color', '#a09c9c')
$dark-title-color = theme-config('color.dark-title-color', '#c4c6c9')
$dark-link-color = theme-config('color.dark-link-color', '#74a9ff')
$dark-link-hover-color = theme-config('color.dark-link-hover-color', '#6596e5')
$dark-post-link-color = theme-config('color.dark-post-link-color', '#d71a1b')
$dark-info-text-color = theme-config('color.dark-info-text-color', '#909faf')
$dark-widget-background-color = theme-config('color.dark-widget-background-color', '#1c1c1e')
$dark-body-background-color = theme-config('color.dark-body-background-color', '#0d0d0d')
$dark-badge-background-color = theme-config('color.dark-badge-background-color', '#485061')
$dark-badge-hover-background-color = theme-config('color.dark-badge-background-color', '#818CA0')
$dark-border-color = theme-config('color.dark-border-color', '#435266')
$dark-pre-color = theme-config('color.dark-pre-color', '#3c495b')
$dark-tbody-background-color = theme-config('color.dark-tbody-background-color', '#3c495b')
$dark-code-color = theme-config('color.dark-code-color', '#c3c7cb')
$dark-code-background-color = theme-config('color.dark-code-background-color', '#3e4b5e')
$dark-blockquote-color = theme-config('color.dark-blockquote-color', '#181c27')
/* note color */
$dark-note-primary-border-color = theme-config('color.dark-note-primary-border-color', '#0c2760')
$dark-note-primary-color = theme-config('color.dark-note-primary-color', '#456d92')
$dark-note-success-border-color = theme-config('color.dark-note-success-border-color', '#11582a')
$dark-note-success-color = theme-config('color.dark-note-success-color', '#549148')
$dark-note-info-border-color = theme-config('color.dark-note-info-border-color', '#113c6a')
$dark-note-info-color = theme-config('color.dark-note-info-color', '#2a6279')
$dark-note-warning-border-color = theme-config('color.dark-note-warning-border-color', '#733f09')
$dark-note-warning-color = theme-config('color.dark-note-warning-color', '#937c43')
$dark-note-danger-border-color = theme-config('color.dark-note-danger-border-color', '#680f2a')
$dark-note-danger-color = theme-config('color.dark-note-danger-color', '#925346')
// font variables
$base-font-size = theme-config('font.font-size', '16px')
$font-family = theme-config('font.font-family', 'Microsoft Yahei, sans-serif')
$xs-font-size = 0.8rem
$sm-font-size = 0.9rem
$md-font-size = 1rem
$ml-font-size = 1.15rem
$lg-font-size = 1.3rem
$ex-font-size = 1.5rem
// style variables
$base-shadow-color = 0deg, 0%, 72%
$around-shadow-style = .3px .2px .3px hsla($base-shadow-color, 0.4), .7px .5px .8px -1.3px hsla($base-shadow-color, 0.32), 1.9px 1.4px 2.1px -2.7px hsla($base-shadow-color, 0.25), 5.2px 3.8px 5.8px -4px hsla($base-shadow-color, 0.17)
$tag-shadow-style = 0 2px 4px 0 rgba(0, 0, 0, 0.2)
$image-filter-style = none
$dark-around-shadow-style = none
$dark-tag-shadow-style = none
$dark-image-filter-style = brightness(0.6) contrast(1.2)
$border-radius = theme-config('border.border-radius', '.5rem')
$xs-border-radius = theme-config('border.border-radius-lg', '.2rem')
// config styles
$widgets-mobile = theme-config('widgets.showWidgetsMobiles', 'none')