// color variables
$text-color = theme-config('color.text-color', '#3c4858')
$text-strong-color = theme-config('color.text-strong-color', '#2f3d4e')
$text-light-color = theme-config('color.text-light-color', '#909faf')
$divider-color = theme-config('color.divider-color', '#e6e8ee')
$title-color = theme-config('color.title-color', '#475b6d')
$link-color = theme-config('color.link-color', '#3273dc')
$link-hover-color = theme-config('color.link-hover-color', '#6596e5')
$info-text-color = theme-config('color.info-text-color', '#909faf')
$widget-background-color = theme-config('color.widget-background-color', '#fff')
$body-background-color = theme-config('color.body-background-color', '#f2f5f8')
// font variables
$base-font-size = theme-config('font.font-size', '16px')
$font-family = theme-config('font.font-family', 'Microsoft Yahei, sans-serif')
$sm-font-size = 0.9rem
$md-font-size = 1rem
$lg-font-size = 1.3rem
$ex-font-size = 1.5rem
// style variables
$shadow-style = 0 0.25rem 1rem rgba(48, 55, 66, 0.06)
$around-shadow-style = 0 2px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.1)