// color variables
$text-color = theme-config("color.text-color","#3c4858")
$link-color = theme-config("color.link-color","#3273dc")
$link-hover-color = theme-config("color.link-hover-color","#6596e5")
$info-text-color = theme-config("color.info-text-color","#909faf")
$background-color = theme-config("color.background-color","#fff")
// font variables
$base-font-size = theme-config("font.font-size","16px")
$font-family = theme-config("font.font-family",'Microsoft Yahei, sans-serif')
$sm-font-size = 0.9rem
// style variables
$shadow-style = 0 0.25rem 1rem rgba(48,55,66,0.06)