<div class="categories-card">
  <div class="categories-header"><i class="iconfont icon-fenlei" style="padding-right: 2px;"></i><%- __("categories.title") %></div>
  <div class="categories-list">
    <% for(const item of site.categories.data) { %>
      <a href="/categories/<%= item.name %>">
        <div class="categories-list-item">
          <%= item.name %>
          <span class="categories-list-item-badge"><%= item.posts.length %></span>
        </div>
      </a>
    <% } %>
  </div>
</div>