<div class="toc-header"><i class="iconfont icon-mulu" style="padding-right: 2px;"></i><%- __("toc.title") %></div>
<%- toc(page.content, { list_number: theme.toc.show_list_number, max_depth: theme.toc.max_depth, min_depth: theme.toc.min_depth }) %>