<div class="toc-header">
  <i 
    class="iconfont icon-menu" 
    style="padding-right: 2px;">
  </i><%- __('toc.title') %>
</div>
<%- toc(page.content, { list_number: theme.toc.showListNumber, max_depth: theme.toc.maxDepth, min_depth: theme.toc.minDepth }) %>