.about-card
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
.about-card-avatar
  width: 150px
  height: 150px
  margin-right: 90px
.about-card-content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
.about-card-author
  margin-top: 12px
  font-size: $ex-font-size
.about-card-dsc
  margin-top: 6px
  color: var(--text-light-color)
.about-card-society
  margin-top: 8px
  display: flex
  flex-direction: row
.about-card-society-icon
  padding: 0 5px
  .society-icon
    font-size: 22px
    color: var(--text-strong-color)

@media (max-width: 862px)
  .about-card
    flex-direction: column
  .about-card-avatar
    margin-right: 0