.about-card
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .about-card-avatar
    width: 150px
    height: 150px
  .about-card-author
    margin-top: 12px
    font-size: $ex-font-size
  .about-card-dsc
    margin-top: 6px
    color: $text-light-color
  .about-card-society
    margin-top: 4px
    .society-icon
      font-size: 22px
      color: $text-strong-color