.archive-timeline
  .archive-timeline-tag
    background-color: $blue-tag-color
    transition: background-color 0.3s
    border-radius: 0.3rem
    max-width: 66px
    height: 32px
    display: flex
    justify-content: center
    align-items: center
    color: var(--text-white-color)
  .archive-timeline-item
    position: relative
    margin-left: 32px
    &::before
      content: ""
      background-color: var(--divider-color)
      transition: background-color 0.3s
      position: absolute
      top: 0
      width: 2px
      height: 100%
    .archive-timeline-post
      margin-left: 20px
      padding: 16px 6px
      .archive-timeline-post-content
        margin-top: 12px
        font-size: $ml-font-size
        .archive-timeline-post-item
          color: var(--text-font-color)

@media(max-width: 768px)
  .archive-timeline
    .archive-timeline-item
      margin-left: 18px
      .archive-timeline-post
        margin-left: 8px
