.comment-card-title
  font-size: $ml-font-size
  margin-bottom: 16px
.widget-title
  font-size: $lg-font-size
  font-weight: bold
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string
	background: none !important